.fluentform-signature-pad-wrapper {
    width: fit-content;
}

.fluentform-signature-pad {
    border: 1px solid #ced4da;
}

.fluentform-signature-hint,
.fluentform-signature-pad-actions {
    font-size: 12px;
    color: #c3c3c3;
}

.fluentform-signature-hint {
    user-select: none;
}

button.fluentform-signature-button {
    padding: 0;
    margin-right: 2px;
    line-height: 1;
    border: none; 
    background: transparent;

    &:last-of-type {
        margin-right: 0;
    }

    &:active,
    &:focus {
        box-shadow: none;
    }
}

.ff-el-is-error .fluentform-signature-pad {
    border-color: #F56C6C;
}

.fluentform-signature-pad-actions {
    float: right;

    svg {
        height: 16px;
        width: 16px;
        fill: #c3c3c3;
    }
}